@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@layer components {
  .btn {
    @apply font-bold py-2 px-4 rounded bg-blue-500 text-white cursor-pointer;
  }
  .btn:hover {
    @apply bg-blue-600;
  }
  .btn:active {
    @apply bg-blue-700;
  }

  .btn-outlined {
    @apply font-bold py-2 px-4 rounded border-2 border-blue-500 text-blue-500 cursor-pointer;
  }
  .btn-outlined:hover {
    @apply bg-blue-500/25 text-white;
  }
  .btn-outlined:active {
    @apply bg-blue-500/50;
  }
}

